version: "3.9"

services:
  protobuf_django:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "8002:8002"
    deploy:
      resources:
        limits:
          cpus: '1.0' 
  
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443
      - 8000:8000  

volumes:
  portainer_data:
    name: portainer_data

networks:
  default:
    name: portainer_network
